body {
   height: 100vh;
   margin: auto 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #5D5FEF;
   display: flex;
   justify-content: center;
   align-items: center;
}

input {
   width: 300px;
   height: 50px;
   background: #F7F7F8;
   border: 1px solid #F5F5F5;
   border-radius: 8px;
   outline: none;
   padding-left: 10px;
   margin-top: 20px;
}

.error-input {
   border-color: #fc8181;
}

.error-message {
   color: #fc8181;
   font-size: 14px;
   margin-top: 5px;
}

button {
   width: 300px;
   height: 55px;
   background: #F7F7F8;
   border: none;
   border-radius: 16px;
   color: #9CA4AB;
   font-weight: 700;
   margin-top: 40px;
}

/* .container {
   max-width: 1200px;
   padding: 15px;
   margin: 0 auto;
   background-color: red;
} */

.home {
   margin: 50px 0;
   background-color: #fff;
   border-radius: 50px;
}

.home__content {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 20px;
}

.home__title {
   margin: 0;
}

.home__cat-image {
   margin-top: 15px;
   max-width: 500px;
}

.form {
   margin: 50px 0;
   background-color: #fff;
   border-radius: 50px;
}

.form__content {
   width: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 100px;
}

.form__content-title {
   margin-top: 25px;
   font-size: 24px;
   font-weight: 700;
}

.form__content-text {
   margin-top: 10px;
   color: #9CA4AB;
   line-height: 19px;
   text-align: center;
}

.form__inputs {
   margin-top: 20px;
   display: flex;
   flex-direction: column;
}



/* 
.gmail-input-box {
   position: relative;
} */

/* .form__gmail-placeholder {
   position: absolute;
   position: absolute;
   top: 55px;
   left: 15px;
   font-size: 14px;
   color: #C1C1C1;
} */


.form__recovery-password {
   margin-top: 20px;
   text-align: right;
   color: #000;
   text-decoration: none;
   font-weight: 700;
}

.form-button-active {
   color: #fff;
   background-color: #5D5FEF;
}

.form__button:disabled {
   background-color: #5D5FEF;
   opacity: 0.5;
}

.form__signup {
   margin-top: 120px;
   color: #5D5FEF;
   text-decoration: none;
}

@media screen and (max-width:500px) {
   .home__cat-image {
      max-width: 300px;
   }

   .form__content {
      padding: 40px 0px;
   }

   .form__signup {
      margin-top: 50px;
   }
}