body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #5D5FEF;
   display: flex;
   justify-content: center;
}

input {
   width: 300px;
   height: 50px;
   background: #F7F7F8;
   border: 1px solid #F5F5F5;
   border-radius: 8px;
   outline: none;
   padding-left: 10px;
}

button {
   width: 300px;
   height: 55px;
   background: #F7F7F8;
   border: none;
   border-radius: 16px;
   color: #9CA4AB;

}

/* .container {
   max-width: 1200px;
   padding: 15px;
   margin: 0 auto;
   background-color: red;
} */

.form {
   margin: 50px 0;
   background-color: #fff;
   border-radius: 50px;
}

.form__content {
   width: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 40px 100px;
}

.form__content-title {
   font-size: 24px;
   font-weight: 700;
}

.form__inputs {
   display: flex;
   flex-direction: column;
}

.form__gmail-input {
   margin-top: 20px;
}

.form__password-input {
   margin-top: 20px;
}

.form__recovery-password {
   margin-top: 20px;
   text-align: right;
   color: #000;
   text-decoration: none;
   font-weight: 700;
}

.form__button {
   margin-top: 40px;
}

.form__signup {
   margin-top: 120px;
   color: #5D5FEF;
   text-decoration: none;
}

@media screen and (max-width:500px) {
   .form__content {
      padding: 40px 0px;
   }

   .form__signup {
      margin-top: 50px;
   }
}